<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="NJsonSchema" version="7.6.6221.22528" targetFramework="net461" />
  <package id="NJsonSchema.CodeGeneration" version="7.6.6221.22554" targetFramework="net461" />
  <package id="NSwag.CodeGeneration" version="8.6.6221.23504" targetFramework="net461" />
  <package id="NSwag.Core" version="8.6.6221.23503" targetFramework="net461" />
</packages>