$sfw-teal: #00a499;
$sfw-blue: #00A9E0;
$sfw-ruby: #CE0F69;
$sfw-steel: #616161;

@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif');

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin box-sizing($arg) {
    -webkit-box-sizing: $arg;
    -moz-box-sizing: $arg;
    box-sizing: $arg;
}

body {
    margin: 0;
    background-color: #efefef;
    font-family: 'Noto Serif';
    font-size: 20px;
}

.center-banner {
    position:absolute;
    margin-top:30vh;
    margin-bottom:35vh;
    height:30vh;
    width:100%;
}

input[type=text]
{
    height: auto;
    margin: 20px 0;
}