$primary-teal: #00a499;
$secondary-teal:#7ED6D0;
$primary-steel: #616161;

$top-banner-height: 7;

@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif');

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin box-sizing($arg) {
    -webkit-box-sizing: $arg;
    -moz-box-sizing: $arg;
    box-sizing: $arg;
}

body {
    margin: 0;
    background-color: #efefef;
    font-family: 'Noto Serif';
    font-size: 20px;
}

.top-banner {
    position:relative;
    height: $top-banner-height + em;
    background: $primary-teal; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, $secondary-teal); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, $secondary-teal); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, $secondary-teal); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, $secondary-teal); /* Standard syntax */
}

.top-banner-content-container {
    position:relative;
    margin-left:20%;
    margin-right:20%;
    height:100%;
    float: left;
    white-space: nowrap;
}

.top-banner-content {
    display: inline-block;
}

#sfw-logo {
    padding-top: ($top-banner-height / 5) + em;
    padding-bottom: ($top-banner-height / 5)  + em;
    height: 100%;
}

#title {
    position:absolute;
    padding-top: ($top-banner-height / 3.5) + em;
    margin-left: $top-banner-height + em;
    font-size: 25;
    color: $primary-teal;
}

.center-banner {
    position:absolute;
    margin-top:30vh;
    margin-bottom:35vh;
    height:30vh;
    width:100%;
}

.main {
    position: relative;
    height: 100%;
    margin-top: 0.5em;
    display: inline-flex;
    float: left;
}

.divider-container {
    position: relative;
    height:100%;
    width: 1em;
    display: inline-block;
}

input[type=text]
{
    height: auto;
    margin: 20px 0;
}